html {
	font-family:proxima nova,helvetica neue,Helvetica,Helvetica,Arial,sans-serif;
	text-decoration: none;
	list-style: none;
}

special{
	color:#ef423c;
	text-align: center!important;
}
body{
	
	padding: 0px 0px;
	margin: 0px 0px;
}


header{
	border: solid #232323 1px;
	text-align: center;
	background-color:#232323;
	color:white;
}

nav {	
	display: grid;
	grid-template-columns: 1fr 2fr 1fr ;

  }


nav .account-menu{
	grid-column: 3 / span 1;
	grid-row-start: 2;
	border: solid orange 1px;
	
	display: flex;

	font-size: .8125rem;
	list-style-type: none; 
	color: black;
	padding: 10px;




}

nav .account-menu li{
	padding: 0px 10px;
	font-weight: bold;
}

nav .account-menu li:hover{
	
    color: #8cb2cc;
    font-weight: bold;
	
  }

nav #product-search-form{
	grid-row-start: 2;
	grid-column: 1 / span 1;
	border: solid orange 1px;

}

nav .menu{
	grid-column: 1 / span 4;	
	display:flex  ;
	list-style: none;
}

nav .menu ul li{
	border: solid red 1px;
}
nav .menu a{

	text-decoration: none;
	border: solid grey 1px;
	color:white;
	display: block;
    width: 115px;
  
    background: #232323;
    padding: 10px;
	text-align: center;
    border-radius: 5px;
    color: white;
	font-weight: bold;
	
	
	
  }

  .menu a:hover{

    color: #8cb2cc;
    font-weight: bold;
	
  }


#promo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
		
	justify-content: center;
	align-content: center;		
	background: rgb(245, 245, 245);	
	font-size: 16px;

	border: solid orange 1px;
}

#promo > ul{
	grid-column: 2 / span 2;
	/* border: solid blue 1px; */
	display: flex;/*side by side*/
	text-transform: uppercase;
	font-size: .8125rem;
	list-style-type: none; 
	color: black;
	
}

#promo > ul > li  {
	/* border: solid red 1px; */
	padding: 0px 10px;
	
	
}

#promo > ul > li >a { 
	list-style: none;
	text-decoration: none;
	color:#464646;
	
}
.account-menu {
	background: #a7dace;
	border: solid orange 1px;
	
	
	
}



/* header{
	border: solid orange 1px;
	grid-column: 1 / 5;	
	 background-color: black; 
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.menu li{
	border: solid orange 1px;
	grid-column: 2 /5;
 background-color: red; 
} */
		

	 
/* }

.menu{
	grid-column: 2 /4;
	 background-color: green;  */
	
		
	
/* } */

/* .content{
	grid-column: 1 /4;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(400px,600px);
	grid-row-gap: 10px;
    
} 
 promo{
	
background-color:orange;
}

 .productlist{
	display: grid;
	
	grid-column-gap: 10px;
	grid-row-gap: 10px;
		grid-row-gap: 10px;
	padding: 10px ;
}


.content{
	border: solid orange 1px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	background-color: grey;

	grid-row-gap: 10px;
} 


#promotional-text{
	border: solid orange 1px;
	background-color: lightcyan;
}


.menu  {
	grid-column: 1 / 5;	
	background-color: orange;
	display: grid;
	justify-items: center;
	background-color: red;	
}

*/

footer{
	justify-content: center;
	align-content: center;	

	background-color: grey; 

	 grid-template-columns: 100px 50px 100px;
	 justify-items: center;
	 align-items: center;
	 border: solid orange 1px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
/*justify-items: center;
	align-items: center;
	grid-column: 1 / 5;	

	 
 */
} 

footer #signupform{
	place-self: center;
	background-color: pink;
}

footer .social{
	place-self: center;
	background-color: pink;
}


  /* <div class="wrapper">
        <header class="main-head">The header</header>
        <nav class="main-nav">
            <ul>
                <li><a href="">Nav 1</a></li>
                <li><a href="">Nav 2</a></li>
                <li><a href="">Nav 3</a></li>
            </ul>
        </nav>
        <article class="content">
            <h1>Main article area</h1>
            <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid.</p>
        </article> 
        <aside class="side">Sidebar</aside>
        <div class="ad">Advertising</div>
        <footer class="main-footer">The footer</footer>
</div> */